<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="wilchers_formbuilder" frontName="wilchers_formbuilder">
            <module name="Wilchers_FormBuilder"/>
        </route>
    </router>
</config>